<div class = 'container'>
  <p id="notice"><%= notice %></p>
  <h2>New Article</h2>
  <p>
    <article>You can use Markdown to create a new article.
    <span class='link'><a href ="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet">'Markdown Cheatsheet'</a></span></article>
  </p>

  <%= render 'form' %>

  <br>


  <%= link_to 'Back', articles_path %>
</div>
